@charset "UTF-8";
@font-face {
  font-family: "Archangelsk";
  src: url("../fonts/Archangelsk.woff2") format("woff2"),
    url("../fonts/Archangelsk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 36px;
}

.btn {
  font-family: "Roboto";
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #f8f200;
  font-weight: 700;
  line-height: 1.7;
  padding: 15px 50px;
  align-items: center;
  background: #000;
}

.cut-box {
  overflow: hidden;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}

.color__word {
  color: #52bedc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
}

.header {
  position: absolute;
  max-width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__social {
  display: flex;
  align-items: center;
}
.header__social_icon:not(:last-child) {
  margin-right: 40px;
}

.main {
  display: block;
}

.intro {
  position: relative;
  height: 1000px;
}
.intro__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.intro-block__img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.intro-block__img .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-content {
  position: relative;
  z-index: 2;
  padding: 70px;
  width: 624px;
  background-color: #f8f200;
}
.intro-content__title {
  font-family: "Archangelsk";
  margin-bottom: 24px;
  color: #000;
  font-size: 62px;
  line-height: 1.01;
  font-weight: 400;
}
.intro-content__button {
  padding: 19px 50px;
  font-size: 24px;
}

.about {
  padding: 70px 0px 55px 0px;
}
.about__title {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #000;
  font-family: "Archangelsk";
  font-size: 62px;
  font-weight: 400;
  line-height: 1.01;
}
.about__text {
  width: 952px;
  margin-bottom: 70px;
  color: #777;
  font-size: 18px;
  line-height: 1.8;
}

.about-items {
  display: flex;
}

.about-item__box {
  width: 460px;
  margin-right: 32px;
}
.about-item__box :not(:last-child) {
  margin-bottom: 32px;
}
.about-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.draw {
  display: flex;
  padding-top: 91px;
  padding-bottom: 140px;
  position: relative;
  background-color: #000;
}
.draw__star {
  vertical-align: middle;
  padding-right: 32px;
  padding-bottom: 29px;
}
.draw__title {
  display: inline;
  vertical-align: middle;
  font-family: "Archangelsk";
  padding-bottom: 39px;
  font-size: 62px;
  font-weight: 400;
  line-height: 1.01;
  color: #fff;
  width: 100%;
}
.draw__text {
  max-width: 952px;
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 1.8;
}
.draw__info {
  display: flex;
  justify-content: space-between;
}

.draw::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-image: url(../img/draw/line.png);
  background-repeat: repeat-x;
}

.draw::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 70px;
  background-image: url(../img/draw/line2.png);
  background-repeat: repeat-x;
}

.form__info {
  display: flex;
  width: 36%;
  flex-direction: column;
  align-items: flex-start;
}
.form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  padding: 11px;
  padding-left: 0;
  border-bottom: 1px solid #777;
  margin-bottom: 26px;
  color: #f8f200;
  padding-left: 10px;
}
.form__input:nth-child(2) {
  margin-bottom: 36px;
}
.form__button {
  margin-bottom: 15px;
  padding: 15px 50px;
  color: #000;
  background-color: #f8f200;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px dashed #777;
  padding: 40px;
  margin-bottom: 32px;
}
.form-label__file {
  position: absolute;
  opacity: 0;
}
.form-label__info {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.form-label__info::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  outline: 2px solid #fff;
}
.form-label__size {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
}
.checkbox__text {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.checkbox__text::before {
  content: "";
  margin-right: 10px;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid #777777;
  background-position: center;
  background-repeat: no-repeat;
}
.checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  outline: 2px solid var(--light-color);
}

.checkbox__input:checked + .checkbox__text::before {
  background-image: url(../img/draw/Check.svg);
}

.display {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f8f200;
}
.display__container {
  display: flex;
  justify-content: space-between;
}

.display-hp {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.display-hp__image {
  max-width: 100%;
  margin-bottom: 26px;
}
.display-hp__logos {
  display: flex;
  align-items: center;
}
.display-hp__title {
  color: #000;
  font-family: "Archangelsk";
  font-size: 62px;
  line-height: 1.01;
  font-weight: 400;
  margin-bottom: 25px;
}
.display-hp__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #000;
}

.display-info {
  width: 50%;
}

.display__hp {
  display: flex;
  flex-wrap: wrap;
}

.display__hp:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.display__item {
  display: flex;
}

.item-hp {
  display: flex;
  align-items: center;
}

.item-hp__icon {
  flex: 0 0 32px;
}

.item-hp__icon img {
  vertical-align: top;
}

.item-hp__text {
  flex: 1 1 auto;
}

.item-hp__info {
  padding: 0px 0px 0px 10px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
}

.get {
  position: relative;
  background-color: #000;
  color: #fff;
}
.get__containar {
  display: flex;
  justify-content: flex-end;
}
.get__block {
  width: 50%;
  padding-top: 70px;
  padding-bottom: 65px;
  padding-left: 32px;
}
.get__title {
  padding-bottom: 25px;
  color: #fff;
  font-family: "Archangelsk";
  font-size: 62px;
  font-weight: 400;
  line-height: 1.01;
}
.get__subtitle {
  color: #52bedc;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin: 24px 0;
}

.get__items:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.item-get__icon {
  flex: 0 0 32px;
}

.item-get__icon img {
  vertical-align: top;
}

.item-get__text {
  flex: 1 1 auto;
}

.item-get__title {
  padding: 0px 0px 0px 10px;
}

.item-get {
  display: flex;
  align-items: center;
}

.get-content__image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  max-width: 944px;
  -o-object-fit: cover;
  object-fit: cover;
}

.get-platform {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 50px;
  max-width: 310px;
}
.get-platform__list img {
  padding-left: 10px;
}

.footer__copy {
  display: flex;
  padding: 13px 0px;
  background-color: #000;
  justify-content: center;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-block__logo {
  padding-left: 36px;
}
.footer-block__info {
  padding-right: 36px;
  color: #000;
  font-size: 18px;
  line-height: 1.16;
}

.block__logo:not(:last-child) {
  margin-right: 32px;
}
.block__info:not(:last-child) {
  margin-right: 32px;
}

.copyright {
  font-size: 12px;
  align-items: center;
  text-align: center;
  line-height: 1.16;
}

@media (max-width: 1024px) {
  .about-item__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .item__box:not(:last-child) {
    margin-right: 32px;
    margin-bottom: 0;
  }
  .about-items {
    flex-direction: column;
  }
  .about-item {
    width: 100%;
  }
  .about__text {
    width: 788px;
  }
  .image__info {
    position: absolute;
    right: 36px;
    top: 50%;
    transform: translateY(-50%);
    width: 46.5%;
    margin-top: 18px;
  }
  .draw__title {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .draw__text {
    width: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .form__info {
    width: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .draw__star {
    padding-bottom: 15px;
  }
  .draw__title {
    padding-bottom: 25px;
  }
  .display-hp__image {
    padding-top: 42px;
  }
  .display-hp__logos {
    flex-direction: column;
  }
  .hp__logo:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .get-content__image {
    width: 32.5%;
    max-width: 332px;
  }
  .get__block {
    width: 67.5%;
  }
}
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .image__info {
    position: static;
    margin: 0;
    transform: none;
    width: 100%;
  }
  .intro-content__title {
    font-size: 30px;
  }
  .draw__info {
    flex-direction: column-reverse;
  }
  .draw__title {
    width: 100%;
  }
  .draw__text {
    width: 100%;
  }
  .form__info {
    width: 100%;
  }
  .display__container {
    flex-direction: column;
  }
  .display-info {
    width: 100%;
  }
  .get {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .get-content__image {
    display: flex;
    position: static;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .get__block {
    width: 100%;
  }
  .footer-block {
    flex-direction: column;
  }
  .footer-block__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block__logo {
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .footer-block__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    width: 100%;
  }
  .block__info {
    margin-top: 25px;
  }
  .block__info:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .block__info:last-child {
    padding-bottom: 25px;
  }
  .about__text {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 0px 15px;
  }
  .intro__container {
    padding: 0px 0px;
  }
  .about__title {
    font-size: 30px;
    padding: 0px 15px;
  }
  .about__text {
    font-size: 16px;
    padding: 0px 15px;
  }
  .about-item__box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .item__box:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .about__container {
    padding: 0px 0px;
  }
  .image__info {
    display: none;
    position: absolute;
    top: 0;
    max-width: 100%;
    height: auto;
    transform: translate(10%, 100%);
    padding-right: 40px;
  }
  .draw__star {
    display: flex;
    width: 150px;
  }
  .draw__title {
    padding-top: 150px;
  }
  .draw__title::before {
    content: "";
    position: absolute;
    top: 210px;
    left: 70px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url(../img/draw/33.png);
    background-repeat: no-repeat;
  }
  .draw__title img::before {
    max-width: 100%;
  }
  .display-hp__logos {
    flex-direction: row;
  }
  .hp__logo:not(:last-child) {
    margin-right: 25px;
    margin-bottom: 0;
  }
  .display-hp__title {
    font-size: 30px;
    padding-top: 40px;
  }
  .get__title {
    font-size: 30px;
  }
  .get__item {
    font-size: 16px;
  }
  .get__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .get__block {
    padding-left: 0px;
  }
  .get-platform {
    gap: 40px 20px;
  }
  .footer-block__logo {
    padding-left: 0;
    padding-top: 40px;
  }
}
@media (max-width: 387px) {
  .draw__title::before {
    left: 20px;
  }
} /*# sourceMappingURL=style.css.map */
